@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --skin-text-light: rgba(0, 0, 0, .5);
        --skin-text-default: rgba(0, 0, 0, .8);
        --skin-text-dark: rgb(0, 0, 0);
        --skin-bg-default: rgb(255, 255, 255);
        --skin-bg-contrast: rgba(0, 0, 0, .1);
        --skin-bg-contrast-light: rgba(0, 0, 0, .05);
    }

    .theme-dark {
        --skin-text-light: rgba(255, 255, 255, .5);
        --skin-text-default: rgba(255, 255, 255, .8);
        --skin-text-dark: rgb(255, 255, 255);
        --skin-bg-default: rgb(0, 0, 0);
        --skin-bg-contrast: rgba(255, 255, 255, .1);
        --skin-bg-contrast-light: rgba(255, 255, 255, .05);
    }
}

@layer components {
    .button {
        @apply inline-block text-md font-bold rounded-md py-xs px-lg cursor-pointer;
    }

    .button:disabled {
        @apply opacity-50 cursor-not-allowed;
    }

    .button-default {
        @apply bg-skin-bg-contrast-light text-skin-text-light;
    }

    .button-default:not(:disabled):hover {
        @apply bg-skin-bg-contrast text-skin-text;
    }

    .button-primary {
        @apply bg-primary;
        color: #fff;
    }

    .button-primary:not(:disabled):hover {
        @apply bg-primary-dark;
    }

    .button-primary-outlined {
        @apply text-primary border border-primary;
        background: transparent;
    }

    .button-primary-outlined:hover {
        @apply bg-primary;
        color: #fff;
    }

    .button-success {
        @apply bg-success;
        color: #fff;
    }

    .button-success:not(:disabled):hover {
        @apply bg-success-dark;
    }

    .button-success-outlined {
        @apply text-success border border-success;
        background: transparent;
    }

    .button-success-outlined:hover {
        @apply bg-success;
        color: #fff;
    }

    .button-danger {
        @apply bg-danger;
        color: #fff;
    }

    .button-danger:not(:disabled):hover {
        @apply bg-danger-dark;
    }

    .button-danger-outlined {
        @apply text-danger border border-danger;
        background: transparent;
    }

    .button-danger-outlined:hover {
        @apply bg-danger;
        color: #fff;
    }
}

@layer utilities {
    .full-height {
        height: calc(100vh - 60px);
        top: 59.5px;
    }
    
    .transparent {
        background: transparent;
    }

    .text-white {
        color: #fff;
    }

    .textfield {
        @apply block w-full bg-skin-bg-contrast text-md text-skin-text border border-skin-bg-contrast p-sm rounded-md;
    }

    .modal-wrapper {
        @apply fixed left-[0px] top-[0px] w-screen h-screen flex items-center justify-center px-sm z-10;
        background: rgba(0, 0, 0, .8);
    }

    .paragraph-sm {
        @apply text-sm leading-relaxed;
    }

    .paragraph-md {
        @apply text-md leading-relaxed;
    }

    .paragraph-lg {
        @apply text-lg leading-relaxed;
    }

    .clamp {
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -moz-line-clamp: 3;
        -webkit-box-orient: vertical;
        -moz-box-orient: vertical;
        overflow: hidden;
    }
}